@use '../abstracts' as a;

html,
body {
    height: 100%;
}

body {
    position: relative;
    font-family: var(--ff);
    font-size: var(--fs-body);
    background-color: var(--Apple-Green);
    @include a.flexbox($direction: column, $align: center, $justify: center);
    height: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.error-visible {
    color: var(--Valencia);
}

h1 {
    margin: 0;
}