@use '../../abstracts' as a;

.consent {
    @include a.flexbox($align: center, $gap: a.rem(16));

    input[type="checkbox"] {
        appearance: none;
    }

    label.consent-label {
        &:hover {
            cursor: pointer;
        }

        span {
            font-weight: var(--fw-bold);
        }
    }

    label.consent-checkbox {
        position: relative;
        @include a.flexbox($align: center);

        &:hover {
            cursor: pointer;

            span {
                border: var(--border-active);
            }
        }

        input {
            // visibility: hidden;
            /* <-- Hide the default checkbox. The rest is to hide and allow tabbing, which display:none prevents */
            display: block;
            height: 1rem;
            width: 1rem;
            position: absolute;
            opacity: 0;
            left: 0;
            top: 0;
            z-index: 1;
            overflow: hidden;

            &:checked+span {
                background-image: url('/assets/images/icon-checkbox-check.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border: none;
                border-radius: a.rem(3);
            }

            &:focus-visible+span {
                border: var(--border-active);
            }
        }

        span {
            width: a.rem(18);
            height: a.rem(18);
            border: 1.5px solid var(--Granny-Smith);
            display: inline-block;
            border-radius: a.rem(3);
            transition: all 0.2s ease;
        }
    }
}