@use '../../abstracts' as a;

.form-container {
    background-color: var(--White);
    padding: clamp(1.25rem, 0.25rem + 5vw, 2.5rem);
    height: 100%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.contact-form {

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px var(--Apple-Green) inset !important;
    }

    height: 100%;
    @include a.flexbox($direction: column, $gap: a.rem(40));

    section {
        @include a.flexbox($direction: column, $gap: a.rem(40));

        &.name {
            @include a.bp($from: "tablet") {
                @include a.flexbox($direction: row, $justify: center, $gap: a.rem(16));
            }


        }
    }

    h1 {
        color: var(--Limed-Spruce);
    }

    // media queries

}

.required {
    margin-inline-start: a.rem(2);
}