@use '../../abstracts' as a;

.form-field {
    @include a.flexbox($direction: column, $justify: flex-start, $gap: a.rem(5));
    width: 100%;

    label {
        color: var(--Limed-Spruce);
        letter-spacing: a.rem(0.8);

        span {
            font-weight: var(--fw-bold);
        }
    }

    input {
        height: a.rem(50);
        border: var(--border-inactive);
        border-radius: a.rem(8);
        padding: a.rem(10) a.rem(24);
        letter-spacing: a.rem(0.8);

        &:hover,
        &:focus,
        &:active {
            cursor: pointer;
            border: var(--border-active);
            outline: none;
        }

        &.error-visible {
            border: var(--border-error);
        }
    }
}