@use '../../abstracts' as a;

.radio-group-container {
    border: none;
    padding: 0;

    legend {
        color: var(--Limed-Spruce);
        letter-spacing: a.rem(0.8);
        margin-block-end: a.rem(12);

        span {
            font-weight: var(--fw-bold);
        }
    }

    span.query-type-error {
        margin-block-start: a.rem(5);
        display: block;
    }

    .radio-group {
        @include a.flexbox($direction: column, $gap: a.rem(12));

        @include a.bp($from: "tablet") {
            @include a.flexbox($direction: row, $gap: a.rem(16));
        }

        .radio-field {
            @include a.flexbox($align: center, $gap: a.rem(16));
            width: 100%;
            border: var(--border-primary);
            height: a.rem(50);
            padding: a.rem(10) a.rem(24);

            &:hover,
            input:hover {
                cursor: pointer;
                border: var(--border-secondary);
            }

            border-radius: a.rem(8);

            label {
                color: var(--Limed-Spruce);

                &:hover {
                    cursor: pointer;
                }
            }

            input[type="radio"] {
                appearance: none;
                width: a.rem(18);
                height: a.rem(18);
                border: var(--border-primary);
                border-radius: 50%;
                display: grid;
                place-content: center;
            }

            input[type="radio"]::before {
                content: "";
                width: 20px;
                height: 21px;
                border-radius: 50%;
                transform: scale(0);
                transition: 120ms transform ease-in-out;
                background-image: url('/assets/images/icon-radio-selected.svg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

            input[type="radio"]:checked::before {
                transform: scale(1);
                border: none;
            }

            &:has(input[type="radio"]:focus) {
                border: var(--border-secondary);
                background-color: var(--Apple-Green);
            }
        }
    }
}